header {
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;
}

#empty {
    height: 70px;
}

.container .row {
    height: 200px;
}

#logoimage{
    width:20px;
    display:inline;
}
.navbar-nav {
     background-color: brown;
    width: 100%;
    text-align: center;
}

.navbar-nav li {
     
    float: none;
    display: inline-block;
}

.navbar-nav li a {
    color: white;
    /*font-weight: bold;*/
}

.labelfile {
     color: white;
     padding-top:12px;
     padding-right:50px
}


/*.navbar-nav li a:visited {
    color: green;
}*/

.highlight {
    background-color: brown;
}

.highlight li a {
    color: white;
}

.row.limit {}

.grid {
    background: white;
}


/*
 clear fix .grid:after {
     content: '';
     display: block;
     clear: both;
 }*/


/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 100%;
}

@media (min-width:600px) {
    .grid-sizer,
    .grid-item {
        width: 50%;
    }
}

@media (min-width:1025px) {
    .grid-sizer,
    .grid-item {
        width: 33.33%;
    }
}

.grid-item {
    border: 4px solid white;
    float: left;
}

.grid-item img {
    display: inline-block;
    max-width: 100%;
}

#imageinfo {
    text-align: center;
    border-bottom: 1px solid grey;
}

span.empty {
    display: inline-block;
    width: 20%;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.featherlight-inner img {
    /*max-height: 100%;*/
    height: 100%; 
    width: 60%; 
    object-fit: contain;
    float: left;
}

.featherlight .featherlight-content {
        height: 90vh;
        max-height: 90vh;
        background: white;
        padding: 0px;
        margin-bottom: 0px;
}

.comments-section {
    display: none;
}

.featherlight-content .comments-section {
    display: inline-block;
    width: 40%;
    float: right;
    background: white;
    padding: 10px;
}

.comments-section .username {
    font-weight: bold;
}

.comments-section ul {
    list-style: none;
}

.comments-section li {
    border-top: 1px solid grey;
    margin-top: 10px;
    padding-top: 10px;
}

.featherlight-content .likes {
    display: none;
}

.featherlight-previous, .featherlight-next {
    max-width: 5%;
    height: 50%;
}

.featherlight-next {
    left: 95%;
}

.featherlight-previous span, .featherlight-next span {
    color: black;
}


